@using ShareTripApplication.Common
@{
    this.ViewData["Title"] = "Home Page";
}
<br />
    <section class="py-5"
             style="background-image: url('https://bananaleafnewyork.com/wp-content/uploads/2019/06/countries-drive-from-india-cover2.jpg'); background-repeat: no-repeat; background-position: center">
        <div style="height: 30vh;"></div>
    </section>
    <section class="py-5">
        <div class="container">
            <h1>@GlobalConstants.SystemName</h1>
            <div>
                <p class="lead" style="font-size: 24px; font-style: italic;">
                    "A journey is best measured in friends, rather than miles... "
                </p>
            </div>
        </div>
    </section>
